@{
    ViewData["Title"] = "Error";
}

<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-post">
                    <div class="down-content">
                        <h2>An error occurred while processing your request.</h2>
                        <p>We're sorry, but something went wrong. Please try again later.</p>
                        <a asp-controller="Home" asp-action="Index" class="main-button">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

